<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Import products from JSON (catalog initialization). -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="em34:import:prod" xsi:type="object">Em34\App\Cli\Import\Products</item>
            </argument>
        </arguments>
    </type>

</config>